## 6. Dictionaries
* key, value pairs

In [19]:
movie = {
    'name': 'Toy Story',
    'year': 1997,
    'director': 'John Lasseter',
    'stars': ['Tom Hanks', 'Tim Allen', 'Don Rickles'],
}

In [20]:
employee = {} # empty dictionary

In [21]:
employee['name'] = 'John'

In [22]:
employee

{'name': 'John'}

### 6.1 Accessing values in a Dictionary

In [23]:
movie['name']

'Toy Story'

In [24]:
movie['year']

1997

In [25]:
movie['stars'][0] # access first star

'Tom Hanks'

### 6.2 Adding New Key-Value Pairs

In [26]:
import datetime

movie['release_date'] = datetime.datetime(1995, 11, 22)

In [27]:
movie

{'director': 'John Lasseter',
 'name': 'Toy Story',
 'release_date': datetime.datetime(1995, 11, 22, 0, 0),
 'stars': ['Tom Hanks', 'Tim Allen', 'Don Rickles'],
 'year': 1997}

### 6.3 Modifying Values

In [28]:
movie['year'] = 1995

In [30]:
movie

{'director': 'John Lasseter',
 'name': 'Toy Story',
 'release_date': datetime.datetime(1995, 11, 22, 0, 0),
 'stars': ['Tom Hanks', 'Tim Allen', 'Don Rickles'],
 'year': 1995}

### 6.4 Looping through a dictionary

In [31]:
for key, value in movie.items(): # looping through all keys and values
    print('Key:', key)
    print('Value:', value)

Key: year
Value: 1995
Key: name
Value: Toy Story
Key: stars
Value: ['Tom Hanks', 'Tim Allen', 'Don Rickles']
Key: director
Value: John Lasseter
Key: release_date
Value: 1995-11-22 00:00:00

In [32]:
for key in movie.keys(): # looping only through keys
    print('Key: ', key)

Key:  year
Key:  name
Key:  stars
Key:  director
Key:  release_date

In [36]:
for value in movie.values(): # looping only through values
    print('Key: ', value)

Key:  1995
Key:  Toy Story
Key:  ['Tom Hanks', 'Tim Allen', 'Don Rickles']
Key:  John Lasseter
Key:  1995-11-22 00:00:00

### 6.5 Nesting

*List of dictionaries* & *List as values in a dictionary*

In [44]:
movie2 = {
    'name': 'Finding Nemo',
    'year': 2003,
    'director': ['Andrew Stanton', 'Lee Unkrich'],
    'stars': ['Albert Brooks', 'Ellen DeGeneres', 'Alexander Gould'], # list as value
}

In [41]:
movie_list = [movie, movie2]

In [42]:
movie_list

[{'director': 'John Lasseter',
  'name': 'Toy Story',
  'release_date': datetime.datetime(1995, 11, 22, 0, 0),
  'stars': ['Tom Hanks', 'Tim Allen', 'Don Rickles'],
  'year': 1995},
 {'director': ['Andrew Stanton', 'Lee Unkrich'],
  'name': 'Finding Nemo',
  'stars': ['Albert Brooks', 'Ellen DeGeneres', 'Alexander Gould'],
  'year': 2003}]

In [43]:
for movie in movie_list:
    print(movie['name'])

Toy Story
Finding Nemo

In [50]:
emp_info1 = {
    'name': 'John Smith',
    'dept': 'Sales'
}

emp_info2 = {
    'age': 22,
    'city': 'Chennai'
}

In [59]:
emp_info = {}
emp_info.update(emp_info1)
emp_info.update(emp_info2) # creates a new dictionary by two updates

In [60]:
emp_info

{'age': 22, 'city': 'Chennai', 'dept': 'Sales', 'name': 'John Smith'}

In [61]:
emp_info2 = {**emp_info1, **emp_info2}

In [62]:
emp_info2

{'age': 22, 'city': 'Chennai', 'dept': 'Sales', 'name': 'John Smith'}

In [63]:
emp_info1.update(emp_info2) # updates the value of original dict.

In [64]:
emp_info1

{'age': 22, 'city': 'Chennai', 'dept': 'Sales', 'name': 'John Smith'}

### 6.6 Excercise
1. Implement Caesar cipher ROT-13 using below dictionary

```
key = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 
       'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 
       'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k',
       'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 
       'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 
       'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 
       'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
```